# Created by .ignore support plugin (hsz.mobi)

# Ruby
.binstubs/
.bundle/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

files/

# Log files
log/*.log

# submodule files
loc_marc2bibframe2/*

# Ignore RDF outputs
data/**/*.rdf

# Development laptop scripts
laptop*

# Stanford Farmshare scripts are too specific to
# a particular user account on Farmshare to be
# included in this public git repo.
farmshare*
